*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.flex{
    display: flex;
    flex-wrap: wrap;
   
}

.flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justify{
    justify-content: space-between;
}


.flex_gap{
    gap: 1rem;
}

.align_center{
    align-items: center;
}
.align_top{
    align-items: flex-start;
}


.relative{
    position: relative;
}

.margin{
    width:90%;
    margin: auto;
}

body{
    background-color: black;
    color: rgb(226, 226, 226);
}


#site_header{
    margin:1rem 0;
}

.header_wrapper{
    justify-content: end;
}



.crossed
{
    content: "";
    width: 11px;
    height: 4px;
    background-color: red;
    bottom: 41%;
    left: 1px;
    position: absolute;
    transform: skewY(306deg);
}









.btn{
    background:linear-gradient(#444444,#000000);
    padding: .5rem .7rem;
    margin-right: .5rem;
    border-radius: 5px;
}

.image_wrapper{
    width: 250px;
    height: 150px;
    flex-grow: 1;
}


.image_wrapper img{
    width:100%;
    object-fit: cover;
    height: 100%;
}

.image_info{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    padding: .2rem;
}
.image_info .no_mic{
    margin-right: 5px;
}



#site_footer{
    margin-top: 5rem;
    background:linear-gradient(#444444,#000000);
}


.padding{
    padding: 1rem 1rem .5rem;
}



#site_footer p{
    font-size: .8rem;
    margin-top: .3rem;
}
.end_meeting_text{
    margin: 0;
}


#site_footer i{
    font-size: 1.5rem;

}

#site_footer .fa-chevron-up{
    font-size: 1rem;
}


.video_options .fa-chevron-up{
    margin: 0 1.5rem 0 1rem;

}




.end_meeting{
    justify-content: center;
    background-color: rgb(53, 53, 53);

}

.end_meeting_text{color: red;}


#site_footer .end_meeting p{
    margin: 0;
}

.meeting_options{
    justify-content: center;
    flex-grow: 2;
}

.meeting_options > div {
    margin:0 1rem;
}

.meeting_options .users_counter{
    margin-left: .3rem;
}

.fa-desktop{
    color: rgb(5, 177, 5);
}
